body {
    background-color: black;
}

#backBox {
    position: fixed;
    padding: 0px;
    background-color: white;
    width: 1350px;
    height: 675px;
    left: 65px;
    top: 35px;
}

li {
    display: inline;
}

#menuList {
    padding: 0;
    margin: 0;
    border-bottom: 5px solid black ;
    position: fixed;
    width: 1350px;
    height: 75px;
    background-color: silver;
}

li button {
    margin: 0;
    padding: 0;
    border: none;
    height: 75px;
    width: 300px;
    font: 36px Arial;
    color: black;
    background-color: silver;
    transition-duration: 0.1s;
}

button:hover {
    cursor: pointer;
    text-decoration-line: underline;
}

#puzzlePage {
    display: block;
} #settingsPage {
    display: none;
} #leaderPage {
    display: none;
}

#crosswordDiv {
    position: fixed;
    top: 125px;
    left: 75px;
    width: 665px;
    height: 565px;
    border: 5px solid black;
}

#acrossCluesDiv {
    position: fixed;
    top: 125px;
    left: 755px;
    width: 310px;
    height: 325px;
    border: 5px solid black;
}

#downCluesDiv {
    position: fixed;
    top: 125px;
    left: 1085px;
    width: 310px;
    height: 325px;
    border: 5px solid black;
}

#lClueB {
    position: fixed;
    top: 470px;
    left: 1085px;
    width: 320px;
    height: 70px;
    font: 24px Arial;
    border: 5px solid black;
}

#wClueB {
    position: fixed;
    top: 470px;
    left: 755px;
    width: 320px;
    height: 70px;
    font: 24px Arial;
    border: 5px solid black;
}

#puzzleGenerateB {
    position: fixed;
    top: 550px;
    left: 1085px;
    width: 320px;
    height: 70px;
    font: 24px Arial;
    border: 5px solid black;
}

#finishB {
    position: fixed;
    top: 550px;
    left: 755px;
    width: 320px;
    height: 70px;
    font: 24px Arial;
    border: 5px solid black;
}

#wordEnter {
    position: fixed;
    top: 630px;
    left: 755px;
    width: 400px;
    height: 58px;
    font: 24px Arial;
    border: 5px solid black;
}

#wordEnterB {
    position: fixed;
    top: 630px;
    left: 1155px;
    width: 250px;
    height: 70px;
    font: 24px Arial;
    border: 5px solid black;
}

#difficultyText {
    position: fixed;
    left: 635px;
    font: 36px Arial;
    top: 125px;
}

#settingsPage button {
    position: fixed;
    width: 300px;
    height: 100px;
    font: 36px Arial;
}

#easyB {
    top: 225px;
    left: 200px;
} #normalB {
    top: 225px;
    left: 550px;
} #hardB {
    top: 225px;
    left: 900px;
}

#colourText {
    position: fixed;
    left: 575px;
    font: 36px Arial;
    top: 350px;
}

#colour1B {
    top: 450px;
    left: 200px;
} #colour2B {
    top: 450px;
    left: 550px;
} #colour3B {
    top: 450px;
    left: 900px;
}

#easyBox {
    position: fixed;
    top: 125px;
    left: 75px;
    width: 400px;
    height: 565px;
    border: 5px solid black;
    font: 36px Arial;
    text-align: center;
}

#normalBox {
    position: fixed;
    top: 125px;
    left: 530px;
    width: 400px;
    height: 565px;
    border: 5px solid black;
    font: 36px Arial;
    text-align: center;
}

#hardBox {
    position: fixed;
    top: 125px;
    left: 985px;
    width: 400px;
    height: 565px;
    border: 5px solid black;
    font: 36px Arial;
    text-align: center;
}

h1 {
    font: bold 20px Courier;
}

#acrossTitle, #downTitle {
    text-align: center;
    text-decoration-line: underline;
    font: bold 20px Arial;
}

#downCluesDiv h3, #acrossCluesDiv h3 {
    font: 15px Arial;
    position: relative;
    left: 5px;
    margin-right: 5px;
}