body {
    background-color: black;
}

#backBox {
    position: fixed;
    padding: 0px;
    background-color: white;
    width: 1350px;
    height: 675px;
    left: 65px;
    top: 35px;
}

li {
    display: inline;
}

#menuList {
    padding: 0;
    margin: 0;
    border-bottom: 5px solid black ;
    position: fixed;
    width: 1350px;
    height: 75px;
    background-color: silver;
}

li button {
    margin: 0;
    padding: 0;
    border: none;
    height: 75px;
    width: 300px;
    font: 36px Arial;
    color: black;
    background-color: silver;
    transition-duration: 0.1s;
}

li button:hover {
    cursor: pointer;
    text-decoration-line: underline;
}
